<html>
    {%load static%}
    <head>
        <title>s'Car application</title>
        <link href="{% static 'classification/style.css'%}" rel="stylesheet" type="text/css" />
        <meta name="description" content="s'car service application">
    </head>



    <body>
    <!-- <link href="{% static 'classification/home.css'%}" rel="stylesheet" type="text/css" />
    -->
    <div style="border: 1px black; float: left; width: 13%; height: 25%">
    </div>

    <div style="border: 1px black; float: left; width: 85%; height: 25%">
    <h1>
    <a href="{% url 'home' %}"><img src="{%static 'classification/img/banner.gif'%}" alt="s'car 로고" height="200"></a>
    </h1>
    </div>

    <div style="border: 1px black; float: left; width: 3%; height: 30%">
    </div>

    <div style="border: 1px black; float: left; width: 45%; height: 30%">
    <a href="{% url 'last' %}"><img src="{%static 'classification/img/main_banner.gif'%}" alt="s'car 로고" width="500"></a>
    </div>

    <div style="border: 1px black; float: left; width: 40%; height: 30%">
    <a href="{% url 'segmentation' %}"><img src="{%static 'classification/img/sub_banner.gif'%}" alt="s'car 로고" width="500"></a>
    </div>
    <!-- <link href="{% static 'classification/home.css'%}" rel="stylesheet" type="text/css" />
    <div><h2><a href="{% url 'classification' %}">차종 분류</a></h2></div>
    <div><h2><a href="{% url 'segmentation' %}">파손 인식</a></h2></div>
    <div><h2><a href="{% url 'damage' %}">car_damage_detect</a></h2></div>
    <div><h2><a href="{% url 'prediction' %}">car_damage_prediction</a></h2></div> 
    <div><h2><a href="{% url 'total' %}">전후좌우</a></h2></div>
    <div><h2><a href="{% url 'last' %}">최종</a></h2></div>
    <div><img src="{%static 'img/background.GIF'%}" alt="" height="400"></div> -->
    </body>

    
</html>